<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteHospital">
	<test name="GroupTest">
		<groups>
			<run>
				<include name="SmokeTesting"></include>
				<include name="SanityTesting"></include>
			</run>
		</groups>

		<classes>
			<class name="com.medcoTNG.Appoinment" />
			<class name="com.medcoTNG.Doctorwise"/>
		</classes>
	</test> <!-- GroupTest -->
</suite> <!-- SuiteHospital -->